In [7]:
import pandas as pd

In [9]:
pd.read_csv('data/results.csv')

     seed   n              Método       Custo  Tempo (s)  Gap (%)
0      42   2      Ótimo (Gurobi)   82.962342   0.000000      0.0
1      42   2    Nearest Neighbor   82.962342   0.000000      0.0
2      42   2  Cheapest Insertion   82.962342   0.000000      0.0
3      42   2  Farthest Insertion   82.962342   0.000000      0.0
4      42   3      Ótimo (Gurobi)  172.066448   0.000000      0.0
..    ...  ..                 ...         ...        ...      ...
185    42  49  Cheapest Insertion  650.513414   0.000000      NaN
186    42  49  Farthest Insertion  573.328968   0.003477      NaN
187    42  50    Nearest Neighbor  714.510476   0.007041      NaN
188    42  50  Cheapest Insertion  668.038121   0.002006      NaN
189    42  50  Farthest Insertion  592.095809   0.000000      NaN

[190 rows x 6 columns]